<% @products.each do |product| %>
  <div class="card" style="width: 18rem;">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title"><%= link_to product.name, product %></h5>
      <p class="card-text">  <%= product.description %></p>
      <span class="btn btn-primary"><%= number_to_currency(product.price) %></span>
    </div>
  </div>
<% end %>
