<div class="card" style="width: 18rem;">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-title"><%= order_product.product.name %></h5>
    <%= order_product.quantity %> * PU : <%= number_to_currency(order_product.unit_price) %>
    <span class="btn btn-primary"><%= number_to_currency(order_product.total_price) %></span>
  </div>
</div>
